.review-outer-container{
    display:flex;
    justify-content: center;
}

.review-outer-container.radio-1{
    display:none;
}

.review-container{
    width:auto;
}

.review-box{
    border:1px solid red;
    padding:1em;
    border-radius: 25px;
}

.review-box.short{
    height: auto;
}

.review-box.long{
    height: auto;
}

.review-first-line{
    padding-bottom: 0.2em;
}



.content-outer-box{
    height: auto;
}


.content-inner-box.short{
    /* height: 4.8em; */
    overflow:hidden;
}

.content-inner-box.long{
    height:auto;
    overflow:auto;
}

.show-more-button{
    font-size: 0.85em;
    text-decoration: underline;
}

.show-more-button:hover{
    cursor:pointer;
    text-decoration: none;
}

.see-more-button.short::before{
    content:"더보기"
}

.see-more-button.long::before{
    content:"접기"
}


.author-name{
    font-weight:bold;
    margin-right: 1em;
}