.movie-poster{
    width:320px;
    height:500px;
    background-size: cover;
    transition: 0.5s;
}

.movie-icon-section{
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.detail-genre{
    margin-right: 0.5em;
    margin-bottom: 2em;
}

.detail-score-section{
    font-size: 1.1em;
    padding-bottom: 3em;
    border-bottom: 0.5px solid gray;
}

.detail-description-section{
    border-bottom: 1.2px solid white;
}

.detail-extra-button{
    margin-top: 1em;
    margin-right: 0.5em;
    width: 8em;
}

.extra-runtime::after{
    content: " minutes";
}

.extra-budget::before{
    content: "$"
}